<div class="employee-list">
  <div *ngFor="let employee of employees" class="employee-card">
      <h2 class="employee-name">{{ employee.name }}</h2>
      <p><strong>Role:</strong> {{ employee.role }}</p>
      <p><strong>Possibility of leaving:</strong> {{ employee.possibilityOfLeaving ? 'Yes' : 'No' }}</p>
      <p><strong>Time to fill the post:</strong> {{ employee.timeToFillPost }} days</p>
      <p><strong>Experience:</strong> {{ employee.experience }} years</p>
      <p><strong>Efficiency:</strong> {{ employee.efficiency }}</p>
      <p><strong>Salary:</strong> {{ employee.salary | currency:'EUR' }}</p>
      <p><strong>Production:</strong> {{ employee.production }}</p>
  </div>
</div>
