<div class="home">
    <h1>Welcome to the HR Hiring System</h1>
  
    <div class="home__image">
      <img src="assets/hr.jpg" alt="Welcome image" />
    </div>
  
    <div class="home__content">
      <h2>About</h2>
      <p>This project is about designing an HR hiring system to manage and optimize the hiring process. The system uses a simulated dataset of potential employees, each with various characteristics that could influence their potential to succeed at the company. This includes their role, the possibility of leaving in the next semester, the time it takes to fill their post, their experience, efficiency, salary, and production.</p>
  
      <h2>Our Solution</h2>
      <p>The HR hiring system will include a predictive hiring algorithm that generates new potential hires, while also considering the production goals and maximum capacity of each role (Technician and Operator). Additionally, it will provide a function to calculate the fit of a candidate to the company, and other functions to compute various insightful metrics.</p>
    </div>
</div>
